<!-- BEGIN topicrow -->
	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
				</ul>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<div class="topic--list">
			<div class="topic-list--header clearfix">
				<span class="topic-list-header--title">
					<!-- IF S_DISPLAY_ACTIVE -->
				            <i class="fa fa-file-text-o"></i>
						    {L_ACTIVE_TOPICS}
						<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->
				            <i class="fa fa-bullhorn"></i>
						    {L_ANNOUNCEMENTS}
						<!-- ELSE -->
				            <i class="fa fa-file-text-o"></i>
						    {L_TOPICS}
					<!-- ENDIF -->
				</span>
				<span class="topic-list-header--toggle-btn"><i class="fa fa-minus"></i></span>
			</div>
			<div class="topic-list--content">
				<ul>
	<!-- ENDIF -->

					<!-- EVENT viewforum_body_topic_row_before -->
						<li>
							<!-- EVENT viewforum_body_topic_row_prepend -->
								<div class="topic-list-content--icon">
								    <!-- IF topicrow.TOPIC_IMG_STYLE eq 'topic_read_locked_mine' -->
                                            <i class="fa fa-lock"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'sticky_read_mine' -->
                                            <i class="fa fa-thumb-tack"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'global_read_mine' -->
                                            <i class="fa fa-globe"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'announce_read_mine' -->
                                            <i class="fa fa-bullhorn"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'topic_read_locked' -->
                                            <i class="fa fa-lock"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'sticky_read' -->
                                            <i class="fa fa-thumb-tack"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'global_read' -->
                                            <i class="fa fa-globe"></i>
                                        <!-- ELSEIF topicrow.TOPIC_IMG_STYLE eq 'announce_read' -->
                                            <i class="fa fa-bullhorn"></i>
                                        <!-- ELSE -->
                                            <i class="fa fa-comment-o"></i>
									<!-- ENDIF -->
								</div>
								
								<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT -->
									<a href="{topicrow.U_NEWEST_POST}" class="icon-link"></a>
								<!-- ENDIF -->
					
								<!-- EVENT topiclist_row_prepend -->
									<div class="topic-list-content--title<!-- IF topicrow.TOPIC_ICON_IMG --> topic--icon-2<!-- ENDIF -->">
										<h2<!-- IF topicrow.TOPIC_ICON_IMG --> style="background-image: url('{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}');"<!-- ENDIF -->><a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></h2>
										<p class="posted-by">{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} <i class="fa fa-angle-double-right"></i> {topicrow.FIRST_POST_TIME}</p>
									</div>
									
									<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
										<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>
									<!-- ENDIF -->
									
									<!-- IF topicrow.S_TOPIC_DELETED -->
										<a href="{topicrow.U_MCP_QUEUE}">{DELETED_IMG}</a>
									<!-- ENDIF -->
									
									<!-- IF topicrow.S_TOPIC_REPORTED -->
										<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>
									<!-- ENDIF -->

									<!-- IF not S_IS_BOT -->
										<div class="topic-list-content--meta">
											<span class="recent-post-time">{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}</span>
											<span class="recent-post-time">{topicrow.LAST_POST_TIME}</span>
										</div>
									<!-- ENDIF -->
								<!-- EVENT topiclist_row_append -->
								
								<div class="topic-list-content--stats">
									<p><strong>{topicrow.REPLIES}</strong>{L_REPLIES}</p>
									<p><strong>{topicrow.VIEWS}</strong>{L_VIEWS}</p>
								</div>
							<!-- EVENT viewforum_body_topic_row_append -->
						</li>
					<!-- EVENT viewforum_body_topic_row_after -->

	<!-- IF topicrow.S_LAST_ROW -->
				</ul>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- BEGINELSE -->
		<!-- IF S_IS_POSTABLE -->
			<div class="topic--list">
				<div class="topic-list--content">
					<ul>
						<li>
							<p class="message">{L_NO_TOPICS}</p>
						</li>
					</ul>
				</div>
			</div>
	<!-- ENDIF -->
<!-- END topicrow -->