									</div>
								</div>
								</div>
							</div>
							<!-- IF S_COMPOSE_PM -->
							<div>{S_FORM_TOKEN}</div>
							</form>
							<!-- ENDIF -->
						</li>
					</ul>
				</div>
			</div>

            <!-- Topic Breadcrumb Start -->
            <div class="topic--breadcrumb clearfix">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i></li>

                    <!-- IF SCRIPT_NAME eq 'index' -->
                            <li class="active">{SITENAME}</li>
                        <!-- ELSE -->
                            <!-- IF U_SITE_HOME -->
                                <li><a href="{U_SITE_HOME}">{SITENAME}</a></li>
                                <!-- ELSE -->
                                <li><a href="{U_INDEX}">{SITENAME}</a></li>
                            <!-- ENDIF -->
                    <!-- ENDIF -->

                    <!-- BEGIN navlinks -->
                        <!-- EVENT overall_header_navlink_prepend -->

                        <!-- IF not navlinks.S_LAST_ROW -->
                            <li><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></li>
                            <!-- ELSEIF navlinks.S_LAST_ROW and S_VIEWTOPIC -->
                            <li><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></li>
                            <!-- ELSE -->
                            <li class="active">{navlinks.FORUM_NAME}</li>
                        <!-- ENDIF -->

                        <!-- EVENT overall_header_navlink_append -->
                    <!-- END navlinks -->

                    <!-- IF S_VIEWTOPIC -->
                        <li class="active">{PAGE_TITLE}</li>
                        <!-- ELSEIF S_IN_FAQ -->
                        <li class="active">{L_FAQ}</li>
                        <!-- ELSEIF S_IN_MCP -->
                        <li class="active">{L_MCP}</li>
                        <!-- ELSEIF S_IN_UCP -->
                        <li class="active">{L_UCP}</li>
                        <!-- ELSEIF S_IN_SEARCH -->
                        <li class="active">{L_SEARCH}</li>
                    <!-- ENDIF -->
                </ol>

                <!-- IF S_DISPLAY_JUMPBOX -->
                    <div class="topiclist-jumpbox--dropup dropup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- IF S_IN_MCP and S_MERGE_SELECT -->
                                    {L_SELECT_TOPICS_FROM}
                                <!-- ELSEIF S_IN_MCP -->
                                    {L_MODERATE_FORUM}
                                <!-- ELSE -->
                                    {L_JUMP_TO}
                            <!-- ENDIF -->
                            <span class="caret"></span>
                        </a>

                        <div class="topiclist-jumpbox-dropup--menu dropdown-menu">
                            <ul>
                                <!-- BEGIN jumpbox_forums -->
                                    <!-- IF jumpbox_forums.FORUM_ID neq -1 -->
                                        <li><a href="{jumpbox_forums.LINK}"><!-- BEGIN level --><span></span><!-- END level -->{jumpbox_forums.FORUM_NAME}</a></li>
                                    <!-- ENDIF -->
                                <!-- END jumpbox_forums -->
                            </ul>
                        </div>
                    </div>
                <!-- ENDIF -->
            </div>
            <!-- Topic Breadcrumb End -->
		</div>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
