		<!-- INCLUDE overall_header.html -->
		
        <!-- Topic Area Start -->
        <div id="topic">
            <div class="container">
                <div class="row">
                    <!-- Topic Items Start -->
                    <div class="col-md-9 topic--body">
						<!-- INCLUDE breadcrumb.html -->

						
						<!-- INCLUDE topiclist_active_bar.html -->

						
						<!-- IF S_HAS_SUBFORUM -->
							<!-- INCLUDE forumlist_body.html -->
						<!-- ENDIF -->

						
						<!-- INCLUDE topiclist.html -->
						
						
						<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
							<div class="display-options-bar">
								<form method="post" action="{S_FORUM_ACTION}">
									<fieldset class="display-options">
										<!-- IF not S_IS_BOT -->
											<label>{L_DISPLAY_TOPICS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
											<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
											<label>{S_SELECT_SORT_DIR}</label>
											<input type="submit" name="sort" value="{L_GO}" class="button2" />
										<!-- ENDIF -->
									</fieldset>
								</form>
							</div>
						<!-- ENDIF -->

						
						<!-- INCLUDE topiclist_active_bar.html -->

						<!-- Topic Stats Start -->
						<div class="topic--stats">
							<!-- IF S_DISPLAY_ONLINE_LIST -->
								<div class="stat-block online-list">
									<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
									<p>{LOGGED_IN_USER_LIST}</p>
								</div>
							<!-- ENDIF -->

							<!-- IF S_DISPLAY_POST_INFO -->
								<div class="stat-block permissions">
									<h3>{L_FORUM_PERMISSIONS}</h3>
									<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
								</div>
							<!-- ENDIF -->
						</div>
						<!-- Topic Stats End -->
						
						<!-- Topic Breadcrumb Start -->
						<div class="topic--breadcrumb clearfix">
							<ol class="breadcrumb">
								<li><i class="fa fa-home"></i></li>
								
								<!-- IF SCRIPT_NAME eq 'index' -->
										<li class="active">{SITENAME}</li>
									<!-- ELSE -->
										<!-- IF U_SITE_HOME -->
											<li><a href="{U_SITE_HOME}">{SITENAME}</a></li>
											<!-- ELSE -->
											<li><a href="{U_INDEX}">{SITENAME}</a></li>
										<!-- ENDIF -->
								<!-- ENDIF -->
								
								<!-- BEGIN navlinks -->
									<!-- EVENT overall_header_navlink_prepend -->
									
									<!-- IF not navlinks.S_LAST_ROW -->
										<li><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></li>
										<!-- ELSEIF navlinks.S_LAST_ROW and S_VIEWTOPIC -->
										<li><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></li>
										<!-- ELSE -->
										<li class="active">{navlinks.FORUM_NAME}</li>
									<!-- ENDIF -->
									
									<!-- EVENT overall_header_navlink_append -->
								<!-- END navlinks -->
								
								<!-- IF S_VIEWTOPIC -->
									<li class="active">{PAGE_TITLE}</li>
									<!-- ELSEIF S_IN_FAQ -->
									<li class="active">{L_FAQ}</li>
									<!-- ELSEIF S_IN_MCP -->
									<li class="active">{L_MCP}</li>
									<!-- ELSEIF S_IN_UCP -->
									<li class="active">{L_UCP}</li>
									<!-- ELSEIF S_IN_SEARCH -->
									<li class="active">{L_SEARCH}</li>
								<!-- ENDIF -->
							</ol>
					
							<!-- IF S_DISPLAY_JUMPBOX -->
								<div class="topiclist-jumpbox--dropup dropup">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<!-- IF S_IN_MCP and S_MERGE_SELECT -->
												{L_SELECT_TOPICS_FROM}
											<!-- ELSEIF S_IN_MCP -->
												{L_MODERATE_FORUM}
											<!-- ELSE -->
												{L_JUMP_TO}
										<!-- ENDIF -->
										<span class="caret"></span>
									</a>
									
									<div class="topiclist-jumpbox-dropup--menu dropdown-menu">
										<ul>
											<!-- BEGIN jumpbox_forums -->
												<!-- IF jumpbox_forums.FORUM_ID neq -1 -->
													<li><a href="{jumpbox_forums.LINK}"><!-- BEGIN level --><span></span><!-- END level -->{jumpbox_forums.FORUM_NAME}</a></li>
												<!-- ENDIF -->
											<!-- END jumpbox_forums -->
										</ul>
									</div>
								</div>
							<!-- ENDIF -->
						</div>
						<!-- Topic Breadcrumb End -->
                    </div>
                    <!-- Topic Items End -->
                    <!-- Topic Sidebar Start -->
                    <div class="col-md-3 topic--sidebar">
						<!-- IF S_REGISTER_ENABLED and not S_REGISTERED_USER -->
						
							<!-- Topic Sidebar Widget Start -->
							<div class="topic-sidebar--widget">
								<!-- Sidebar Signup Widget Start -->
								<div class="topic-sidebar-widget--signup">
									<a href="{U_REGISTER}" class="btn btn-block">{L_REGISTER}</a>
								</div>
								<!-- Sidebar Signup Widget End -->
							</div>
							<!-- Topic Sidebar Widget End -->
							
						<!-- ENDIF -->
						
						<!-- IF S_REGISTERED_USER -->
							<!-- IF S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS -->
								<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
									<!-- EVENT viewforum_buttons_top_before -->
									
									<!-- Topic Sidebar Widget Start -->
									<div class="topic-sidebar--widget">
										<!-- Sidebar Signup Widget Start -->
										<div class="topic-sidebar-widget--signup">
											<a href="{U_POST_NEW_TOPIC}" class="btn btn-block">
												<!-- IF S_IS_LOCKED -->
													{L_BUTTON_FORUM_LOCKED}
													<!-- ELSE -->
													{L_BUTTON_NEW_TOPIC}
												<!-- ENDIF -->
											</a>
										</div>
										<!-- Sidebar Signup Widget End -->
									</div>
									<!-- Topic Sidebar Widget End -->

									<!-- EVENT viewforum_buttons_top_after -->
								<!-- ENDIF -->
							<!-- ENDIF -->
						<!-- ENDIF -->
						
						<!-- Topic Sidebar Widget Start -->
						<div class="topic-sidebar--widget">
							<div class="topic-list--header clearfix">
								<span class="topic-list-header--title"><i class="fa fa-bar-chart"></i>{L_Advertisement}</span>
								<span class="topic-list-header--toggle-btn"><i class="fa fa-minus"></i></span>
							</div>
							<div class="topic-list--content">
								<!-- Sidebar Ad Widget Start -->
								<div class="topic-sidebar-widget--ad">
									<a href="#" class="ad">
									    <img src="{T_THEME_PATH}/images/sidebar-ad/orange-banner-ad-300x250.png" alt="" class="img-responsive">
								    </a>
								    <div class="ad--2 clearfix">
                                        <a href="#" class="ad">
                                            <img src="{T_THEME_PATH}/images/sidebar-ad/empty-ad-125x125.jpg" alt="" class="img-responsive">
                                        </a>
                                        <a href="#" class="ad">
                                            <img src="{T_THEME_PATH}/images/sidebar-ad/empty-ad-125x125.jpg" alt="" class="img-responsive">
                                        </a>
								    </div>
								</div>
								<!-- Sidebar Ad Widget Start -->
							</div>
						</div>
						<!-- Topic Sidebar Widget End -->
						
						<!-- Topic Sidebar Widget Start -->
						<div class="topic-sidebar--widget">
							<div class="topic-list--header clearfix">
								<span class="topic-list-header--title"><i class="fa fa-users"></i>{L_TOTAL} {L_MEMBERS}</span>
								<span class="topic-list-header--toggle-btn"><i class="fa fa-minus"></i></span>
							</div>
							<div class="topic-list--content">
								<!-- Sidebar Statistics Widget Start -->
								<div class="topic-sidebar-widget--statistics">
								    <!-- IF TOTAL_USERS -->
									    <p class="clearfix">{TOTAL_USERS}</p>
									<!-- ENDIF -->
								    <!-- IF NEWEST_USER -->
									    <p class="clearfix">{NEWEST_USER}</p>
									<!-- ENDIF -->
									<p>{TOTAL_USERS_ONLINE}</p>
								</div>
								<!-- Sidebar Statistics Widget End -->
							</div>
						</div>
						<!-- Topic Sidebar Widget End -->
						
						<!-- IF TOTAL_POSTS or TOTAL_TOPICS or TOTAL_USERS_ONLINE -->
							<!-- Topic Sidebar Widget Start -->
							<div class="topic-sidebar--widget">
								<div class="topic-list--header clearfix">
									<span class="topic-list-header--title"><i class="fa fa-bar-chart"></i>Statistics</span>
									<span class="topic-list-header--toggle-btn"><i class="fa fa-minus"></i></span>
								</div>
								<div class="topic-list--content">
									<!-- Sidebar Statistics Widget Start -->
									<div class="topic-sidebar-widget--statistics">
										<p class="clearfix">{TOTAL_POSTS}</p>
										<p class="clearfix">{TOTAL_TOPICS}</p>
									</div>
									<!-- Sidebar Statistics Widget End -->
								</div>
							</div>
							<!-- Topic Sidebar Widget End -->
						<!-- ENDIF -->
                    </div>
                    <!-- Topic Sidebar End -->
                </div>
            </div>
        </div>
        <!-- Topic Area End -->

<!-- IF S_NO_READ_ACCESS -->

	<div class="panel x1">
		<div class="inner">
		<strong>{L_NO_READ_ACCESS}</strong>
		</div>
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

            <div class="panel">
                <div class="inner">

                <div class="content">
                    <h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

                    <fieldset class="fields1">
                    <dl>
                        <dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
                        <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
                    </dl>
                    <dl>
                        <dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
                        <dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
                        <!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
                        <dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
                    </dl>
                    {S_LOGIN_REDIRECT}
                    </fieldset>
                </div>

                </div>
            </div>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
